.column-wrapper {
  max-width: 22.75rem;
  min-width: 15.375rem;
  width: 100%;
  flex-shrink: 0;
}

.column-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
