.s-card-wrapper {
  display: flex;
  align-items: flex-end;
  height: 21rem;
  max-width: 22.5rem;
  width: 100%;
}

.s-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 22.5rem;
  min-width: 16.25rem;
  height: 17.25rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-bottom: 1.25rem;
  padding-top: 3.75rem;
  border-radius: $corner-radius-large;
  border: $border-xsmall solid $border-3;
  background-color: $surface-box;

  @media screen and (max-width: $breakpoints-tablet) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.s-card__logo {
  position: absolute;
  left: 1.875rem;
  top: -3.75rem;
  border-radius: $corner-radius-medium;
  background-color: $surface-box;
}

.s-card__name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.s-card__details {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}