.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  padding: 6.25rem 0;
}

.error__img {
  display: block;
  width: 100%;
  max-width: 11.25rem;
  filter: sepia(200%);
  opacity: .4;
}

.error__msg {
  color: $text-6-default;
}
