.details-content-wrapper {
	width: 100%;
	max-height: 0;
	overflow-y: auto;
	transition: max-height 0.2s ease-in-out;

	&--expended {
		max-height: 260px;
	}

	&--contracted {
		max-height: 0;
	}

	/* width */
	&::-webkit-scrollbar {
		width: 4px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: transparent;
    margin-bottom: 12px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #888;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}

.details-content {
	padding: 0 1.875rem 1.5rem 1.875rem;
}
