.toast-content {
	justify-content: space-between;
	align-items: center;
	gap: 0.625rem;

	&__icon {
		display: flex;
		flex-shrink: 0;
		width: 2rem;
		height: 2rem;
		border-radius: $corner-radius-circular;
		background-color: $component-toast-icon-surface;

		& > svg {
			margin: auto;
			stroke: $component-toast-icon;
		}
	}

	&__text {
		color: $text-3-default;
	}

  &__1 {
    align-items: center;
    gap: 0.625rem;
  }

  &__2 {
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
  }
}
