@use "./colors" as *;

$accent: $lime;
$accent-100: $lime-100;
$accent-600: $lime-600;
$black: $crowshead;
$black-800: $crowshead-800;
$blue: $bahama-blue;
$blue-dark: $bondi-blue;
$bronze: $antique-bronze;
$bronze-550: $antique-bronze-550;
$bronze-800: $antique-bronze-800;
$brown: $bracken;
$brown-800: $bracken-800;
$brown-light: $brown-bramble;
$brown-light-200: $brown-bramble-200;
$brown-light-600: $brown-bramble-600;
$brown-light-80: $brown-bramble-80;
$brown-light-800: $brown-bramble-800;
$brown-lighter: $copper-canyon;
$error: $amaranth;
$error-200: $amaranth-200;
$error-300: $amaranth-300;
$error-400: $amaranth-400;
$error-800: $amaranth-800;
$info: $cornflower-blue;
$info-200: $cornflower-blue-200;
$info-300: $cornflower-blue-300;
$info-400: $cornflower-blue-400;
$info-800: $cornflower-blue-800;
$neutral: $schooner;
$neutral-1: $westar;
$neutral-2: $cararra;
$neutral-600: $schooner-600;
$primary-brand: $mantis;
$primary-brand-complementary: $tiber;
$primary-brand-complementary-800: $tiber-800;
$secondary-brand: $fiery-orange;
$secondary-brand-100: $fiery-orange-100;
$secondary-brand-200: $fiery-orange-200;
$secondary-brand-800: $fiery-orange-800;
$secondary-dark: $korma;
$secondary-dark-200: $korma-200;
$secondary-dark-300: $korma-300;
$secondary-dark-400: $korma-400;
$success: $chelsea-cucumber;
$success-200: $chelsea-cucumber-200;
$success-300: $chelsea-cucumber-300;
$success-400: $chelsea-cucumber-400;
$success-800: $chelsea-cucumber-800;
$tertiary: $cream-can;
$tertiary-1: $peach-yellow;
$tertiary-1-600: $peach-yellow-600;
$warm-1: $manhattan;
$warm-10: $dawn-pink;
$warm-11: $merino;
$warm-12: $white-linen;
$warm-2: $cashmere;
$warm-2-300: $cashmere-300;
$warm-2-700: $cashmere-700;
$warm-3: $desert-sand;
$warm-4: $just-right;
$warm-5: $apricot-peach;
$warm-6: $almond;
$warm-7: $stark-white;
$warm-8: $pearl-bush;
$warm-9: $dawn-pink-dark;
$white: $spring-wood;
