@use "./color-alias" as *;

$surface-box: $warm-12;
$surface-page: $warm-10;
$border-1: $brown-light;
$border-2: $secondary-brand;
$border-3: $neutral-1;
$component-button-error-focused-border: $warm-11;
$component-button-error-focused-icon: $warm-11;
$component-button-error-focused-outline: $error;
$component-button-error-focused-surface: $error;
$component-button-error-focused-text: $warm-11;
$component-button-error-hover-border: $warm-11;
$component-button-error-hover-icon: $warm-11;
$component-button-error-hover-surface: $error;
$component-button-error-hover-text: $warm-11;
$component-button-error-pressed-border: $warm-11;
$component-button-error-pressed-icon: $warm-11;
$component-button-error-pressed-surface: $error;
$component-button-error-pressed-text: $warm-11;
$component-button-error-rest-border: $error;
$component-button-error-rest-icon: $error;
$component-button-error-rest-surface: $warm-11;
$component-button-error-rest-text: $error;
$component-button-primary-focused-border: $bronze;
$component-button-primary-focused-icon: $bronze;
$component-button-primary-focused-outline: $bronze;
$component-button-primary-focused-surface: $tertiary;
$component-button-primary-focused-text: $bronze;
$component-button-primary-hover-border: $bronze;
$component-button-primary-hover-icon: $bronze;
$component-button-primary-hover-surface: $tertiary;
$component-button-primary-hover-text: $bronze;
$component-button-primary-pressed-border: $bronze;
$component-button-primary-pressed-icon: $bronze;
$component-button-primary-pressed-surface: $tertiary;
$component-button-primary-pressed-text: $bronze;
$component-button-primary-rest-border: $primary-brand-complementary;
$component-button-primary-rest-icon: $primary-brand-complementary;
$component-button-primary-rest-surface: $primary-brand;
$component-button-primary-rest-text: $primary-brand-complementary;
$component-button-secondary-focused-border: $brown-lighter;
$component-button-secondary-focused-icon: $brown-lighter;
$component-button-secondary-focused-outline: $brown-lighter;
$component-button-secondary-focused-surface: $warm-1;
$component-button-secondary-focused-text: $brown-lighter;
$component-button-secondary-hover-border: $brown-lighter;
$component-button-secondary-hover-icon: $brown-lighter;
$component-button-secondary-hover-surface: $warm-1;
$component-button-secondary-hover-text: $brown-lighter;
$component-button-secondary-pressed-border: $brown-lighter;
$component-button-secondary-pressed-icon: $brown-lighter;
$component-button-secondary-pressed-surface: $warm-1;
$component-button-secondary-pressed-text: $brown-lighter;
$component-button-secondary-rest-border: $brown;
$component-button-secondary-rest-icon: $brown;
$component-button-secondary-rest-surface: $warm-3;
$component-button-secondary-rest-text: $brown;
$component-button-subtle-focused-border: $warm-7;
$component-button-subtle-focused-icon: $black;
$component-button-subtle-focused-outline: $bronze;
$component-button-subtle-focused-surface: $warm-7;
$component-button-subtle-focused-text: $black;
$component-button-subtle-hover-border: $warm-7;
$component-button-subtle-hover-icon: $black;
$component-button-subtle-hover-surface: $warm-7;
$component-button-subtle-hover-text: $black;
$component-button-subtle-pressed-border: $warm-7;
$component-button-subtle-pressed-icon: $black;
$component-button-subtle-pressed-surface: $warm-7;
$component-button-subtle-pressed-text: $black;
$component-button-subtle-rest-border: $surface-page;
$component-button-subtle-rest-icon: $black;
$component-button-subtle-rest-surface: $surface-page;
$component-button-subtle-rest-text: $black;
$component-button-success-focused-border: $warm-11;
$component-button-success-focused-icon: $warm-11;
$component-button-success-focused-outline: $success;
$component-button-success-focused-surface: $success;
$component-button-success-focused-text: $warm-11;
$component-button-success-hover-border: $warm-11;
$component-button-success-hover-icon: $warm-11;
$component-button-success-hover-surface: $success;
$component-button-success-hover-text: $warm-11;
$component-button-success-pressed-border: $warm-11;
$component-button-success-pressed-icon: $warm-11;
$component-button-success-pressed-surface: $success;
$component-button-success-pressed-text: $warm-11;
$component-button-success-rest-border: $success;
$component-button-success-rest-icon: $success;
$component-button-success-rest-surface: $warm-11;
$component-button-success-rest-text: $success;
$component-button-tertiary-focused-border: $secondary-dark;
$component-button-tertiary-focused-icon: $secondary-dark;
$component-button-tertiary-focused-outline: $secondary-dark;
$component-button-tertiary-focused-surface: $warm-5;
$component-button-tertiary-focused-text: $secondary-dark;
$component-button-tertiary-hover-border: $secondary-dark;
$component-button-tertiary-hover-icon: $secondary-dark;
$component-button-tertiary-hover-surface: $warm-5;
$component-button-tertiary-hover-text: $secondary-dark;
$component-button-tertiary-pressed-border: $secondary-dark;
$component-button-tertiary-pressed-icon: $secondary-dark;
$component-button-tertiary-pressed-surface: $warm-5;
$component-button-tertiary-pressed-text: $secondary-dark;
$component-button-tertiary-rest-border: $brown;
$component-button-tertiary-rest-icon: $brown;
$component-button-tertiary-rest-surface: $warm-11;
$component-button-tertiary-rest-text: $brown;
$component-link-default-focused-icon: $blue-dark;
$component-link-default-focused-outline: $blue;
$component-link-default-focused-text: $blue-dark;
$component-link-default-focused-underline: $blue-dark;
$component-link-default-hover-icon: $blue-dark;
$component-link-default-hover-text: $blue-dark;
$component-link-default-hover-underline: $blue-dark;
$component-link-default-pressed-icon: $blue-dark;
$component-link-default-pressed-text: $blue-dark;
$component-link-default-pressed-underline: $blue-dark;
$component-link-default-rest-icon: $blue;
$component-link-default-rest-text: $blue;
$component-link-default-rest-underline: $blue;
$component-link-light-focused-icon: $warm-7;
$component-link-light-focused-outline: $warm-11;
$component-link-light-focused-text: $warm-7;
$component-link-light-focused-underline: $warm-7;
$component-link-light-hover-icon: $warm-7;
$component-link-light-hover-text: $warm-7;
$component-link-light-hover-underline: $warm-7;
$component-link-light-pressed-icon: $warm-7;
$component-link-light-pressed-text: $warm-7;
$component-link-light-pressed-underline: $warm-7;
$component-link-light-rest-icon: $warm-11;
$component-link-light-rest-text: $warm-11;
$component-link-light-rest-underline: $warm-11;
$component-link-subtle-focused-icon: $brown-light;
$component-link-subtle-focused-outline: $brown-light-600;
$component-link-subtle-focused-text: $brown-light;
$component-link-subtle-focused-underline: $brown-light;
$component-link-subtle-hover-icon: $brown-light;
$component-link-subtle-hover-text: $brown-light;
$component-link-subtle-hover-underline: $brown-light;
$component-link-subtle-pressed-icon: $brown-light;
$component-link-subtle-pressed-text: $brown-light;
$component-link-subtle-pressed-underline: $brown-light;
$component-link-subtle-rest-icon: $secondary-brand;
$component-link-subtle-rest-text: $secondary-brand;
$component-link-subtle-rest-underline: $secondary-brand;
$component-scrollbar-thumb: $secondary-dark-200;
$component-scrollbar-thumb-dark: $secondary-dark-300;
$component-scrollbar-track: $warm-10;
$component-toast-border: $warm-2;
$component-toast-icon: $secondary-brand;
$component-toast-icon-surface: $secondary-brand-200;
$component-toast-surface: $warm-2-700;
$component-tooltip-border: $warm-2;
$component-tooltip-surface: $warm-2-700;
$shadow-box-shadow: $secondary-brand;
$shadow-box-shadow-active: $accent;
$shadow-dotted: $neutral-1;
$status-disabled-border: $neutral;
$status-disabled-icon: $neutral;
$status-disabled-surface: $neutral-2;
$status-disabled-text: $neutral;
$status-error-border: $error;
$status-error-border-light: $error-300;
$status-error-icon: $error;
$status-error-surface: $warm-11;
$status-error-surface-dark: $error-200;
$status-error-surface-darker: $error-300;
$status-error-text: $error;
$status-generic-inverted-1-border: $brown;
$status-generic-inverted-1-surface: $brown-light;
$status-generic-inverted-1-surface-dark: $brown;
$status-generic-inverted-1-text: $warm-11;
$status-generic-inverted-1-text-light: $warm-11;
$status-generic-1-border: $brown-light;
$status-generic-1-surface: $warm-11;
$status-generic-1-surface-dark: $brown-light-80;
$status-generic-1-text: $brown-light;
$status-generic-1-text-light: $brown-light;
$status-generic-2-border: $secondary-dark;
$status-generic-2-border-lighter: $secondary-dark-300;
$status-generic-2-icon: $secondary-dark;
$status-generic-2-surface: $warm-10;
$status-generic-2-surface-dark: $secondary-dark-200;
$status-generic-2-surface-darker: $secondary-dark-300;
$status-generic-2-text: $secondary-dark;
$status-generic-3-border: $brown-light;
$status-generic-3-border-light: $brown-light-80;
$status-generic-3-icon: $brown-light;
$status-generic-3-icon-light: $brown-light-800;
$status-generic-3-surface: $warm-12;
$status-generic-3-surface-dark: $warm-9;
$status-generic-3-surface-darker: $warm-7;
$status-generic-3-text: $brown-light;
$status-generic-4-border: $primary-brand-complementary;
$status-generic-4-border-light: $primary-brand-complementary-800;
$status-generic-4-icon: $primary-brand-complementary;
$status-generic-4-icon-light: $primary-brand-complementary-800;
$status-generic-4-surface: $primary-brand;
$status-generic-4-surface-dark: $primary-brand-dark;
$status-generic-4-text: $primary-brand-complementary;
$status-generic-5-border: $warm-4;
$status-generic-5-icon: $brown-light;
$status-generic-5-surface: $warm-12;
$status-generic-5-surface-dark: $warm-6;
$status-generic-5-text: $brown-light;
$status-info-border: $info;
$status-info-border-light: $info-300;
$status-info-icon: $info;
$status-info-surface: $warm-11;
$status-info-surface-dark: $info-200;
$status-info-surface-darker: $info-300;
$status-info-text: $info;
$status-success-border: $success;
$status-success-border-light: $success-300;
$status-success-icon: $success;
$status-success-surface: $warm-11;
$status-success-surface-dark: $success-200;
$status-success-surface-darker: $success-300;
$status-success-text: $success;
$text-1-default: $black;
$text-1-light: $black-800;
$text-2-default: $brown;
$text-2-light: $brown-800;
$text-3-default: $brown-light;
$text-3-light: $brown-light-800;
$text-4-adorn: $secondary-brand-200;
$text-4-default: $secondary-brand;
$text-4-light: $secondary-brand-800;
$text-5-default: $warm-11;
$text-error-default: $error;
$text-error-light: $error-800;
$text-info-default: $info;
$text-info-light: $info-800;
$text-success-default: $success;
$text-success-light: $success-800;

$button-variants: (
	'primary': (
		'rest': (
			'border': $component-button-primary-rest-border,
			'text': $component-button-primary-rest-text,
			'surface': $component-button-primary-rest-surface,
			'icon': $component-button-primary-rest-icon,
		),
    'hover': (
			'border': $component-button-primary-hover-border,
			'text': $component-button-primary-hover-text,
			'surface': $component-button-primary-hover-surface,
			'icon': $component-button-primary-hover-icon,
		),
    'focused': (
			'border': $component-button-primary-focused-border,
			'text': $component-button-primary-focused-text,
			'surface': $component-button-primary-focused-surface,
			'icon': $component-button-primary-focused-icon,
			'outline': $component-button-primary-focused-outline,
		),
	),
  'secondary': (
		'rest': (
			'border': $component-button-secondary-rest-border,
			'text': $component-button-secondary-rest-text,
			'surface': $component-button-secondary-rest-surface,
			'icon': $component-button-secondary-rest-icon,
		),
    'hover': (
			'border': $component-button-secondary-hover-border,
			'text': $component-button-secondary-hover-text,
			'surface': $component-button-secondary-hover-surface,
			'icon': $component-button-secondary-hover-icon,
		),
    'focused': (
			'border': $component-button-secondary-focused-border,
			'text': $component-button-secondary-focused-text,
			'surface': $component-button-secondary-focused-surface,
			'icon': $component-button-secondary-focused-icon,
			'outline': $component-button-secondary-focused-outline,
		),
	),
  'tertiary': (
		'rest': (
			'border': $component-button-tertiary-rest-border,
			'text': $component-button-tertiary-rest-text,
			'surface': $component-button-tertiary-rest-surface,
			'icon': $component-button-tertiary-rest-icon,
		),
    'hover': (
			'border': $component-button-tertiary-hover-border,
			'text': $component-button-tertiary-hover-text,
			'surface': $component-button-tertiary-hover-surface,
			'icon': $component-button-tertiary-hover-icon,
		),
    'focused': (
			'border': $component-button-tertiary-focused-border,
			'text': $component-button-tertiary-focused-text,
			'surface': $component-button-tertiary-focused-surface,
			'icon': $component-button-tertiary-focused-icon,
			'outline': $component-button-tertiary-focused-outline,
		),
	),
  'success': (
		'rest': (
			'border': $component-button-success-rest-border,
			'text': $component-button-success-rest-text,
			'surface': $component-button-success-rest-surface,
			'icon': $component-button-success-rest-icon,
		),
    'hover': (
			'border': $component-button-success-hover-border,
			'text': $component-button-success-hover-text,
			'surface': $component-button-success-hover-surface,
			'icon': $component-button-success-hover-icon,
		),
    'focused': (
			'border': $component-button-success-focused-border,
			'text': $component-button-success-focused-text,
			'surface': $component-button-success-focused-surface,
			'icon': $component-button-success-focused-icon,
			'outline': $component-button-success-focused-outline,
		),
	),
  'error': (
		'rest': (
			'border': $component-button-error-rest-border,
			'text': $component-button-error-rest-text,
			'surface': $component-button-error-rest-surface,
			'icon': $component-button-error-rest-icon,
		),
    'hover': (
			'border': $component-button-error-hover-border,
			'text': $component-button-error-hover-text,
			'surface': $component-button-error-hover-surface,
			'icon': $component-button-error-hover-icon,
		),
    'focused': (
			'border': $component-button-error-focused-border,
			'text': $component-button-error-focused-text,
			'surface': $component-button-error-focused-surface,
			'icon': $component-button-error-focused-icon,
			'outline': $component-button-error-focused-outline,
		),
	),
  'subtle': (
		'rest': (
			'border': $component-button-subtle-rest-border,
			'text': $component-button-subtle-rest-text,
			'surface': $component-button-subtle-rest-surface,
			'icon': $component-button-subtle-rest-icon,
		),
    'hover': (
			'border': $component-button-subtle-hover-border,
			'text': $component-button-subtle-hover-text,
			'surface': $component-button-subtle-hover-surface,
			'icon': $component-button-subtle-hover-icon,
		),
    'focused': (
			'border': $component-button-subtle-focused-border,
			'text': $component-button-subtle-focused-text,
			'surface': $component-button-subtle-focused-surface,
			'icon': $component-button-subtle-focused-icon,
			'outline': $component-button-subtle-focused-outline,
		),
	),
  'disabled': (
		'border': $status-disabled-border,
    'text': $status-disabled-text,
    'surface': $status-disabled-surface,
    'icon': $status-disabled-icon,
	),
);

$link-variants : (
  default: (
    rest: (
      text: $component-link-default-rest-text,
      icon: $component-link-default-rest-icon,
    ),
    hover: (
      text: $component-link-default-hover-text,
      icon: $component-link-default-hover-icon,
    ),
    focused: (
      text: $component-link-default-focused-text,
      icon: $component-link-default-focused-icon,
    ),
  ),
  subtle: (
    rest: (
      text: $component-link-subtle-rest-text,
      icon: $component-link-subtle-rest-icon,
    ),
    hover: (
      text: $component-link-subtle-hover-text,
      icon: $component-link-subtle-hover-icon,
    ),
    focused: (
      text: $component-link-subtle-focused-text,
      icon: $component-link-subtle-focused-icon,
    ),
  ),
  light: (
    rest: (
      text: $component-link-light-rest-text,
      icon: $component-link-light-rest-icon,
    ),
    hover: (
      text: $component-link-light-hover-text,
      icon: $component-link-light-hover-icon,
    ),
    focused: (
      text: $component-link-light-focused-text,
      icon: $component-link-light-focused-icon,
    ),
  ),
);

$blur-effect: blur(10px);
$focus-outline: 0 0 0 4px $secondary-dark;
$default-focus-outline: 0 0 0 4px rgba($secondary-dark, 40%);
$primary-focus-outline: 0 0 0 6px $accent;
$info-focus-outline: 0 0 0 4px rgba($info, 40%);
$error-focus-outline: 0 0 0 4px rgba($error, 40%);
$success-focus-outline: 0 0 0 4px rgba($success, 40%);
