$almond: #f1decd;
$amaranth: #c91c43;
$amaranth-200: #c91c4333;
$amaranth-300: #c91c434d;
$amaranth-400: #c91c4366;
$amaranth-800: #c91c43cc;
$antique-bronze: #725207;
$antique-bronze-550: #7252078c;
$antique-bronze-800: #725207cc;
$apricot-peach: #fbd7bf;
$bahama-blue: #037191;
$bondi-blue: #028ab0;
$bracken: #482005;
$bracken-800: #482005cc;
$brown-bramble: #612a05;
$brown-bramble-200: #612a0533;
$brown-bramble-600: #612a0599;
$brown-bramble-80: #612a0514;
$brown-bramble-800: #612a05cc;
$cararra: #efedea;
$cashmere: #e4c6a7;
$cashmere-300: #e4c6a74d;
$cashmere-700: #e4c6a7b2;
$chelsea-cucumber: #425322;
$chelsea-cucumber-200: #42532233;
$chelsea-cucumber-300: #4253224d;
$chelsea-cucumber-400: #42532266;
$chelsea-cucumber-800: #425322cc;
$copper-canyon: #813f13;
$cornflower-blue: #1946a9;
$cornflower-blue-200: #1946a933;
$cornflower-blue-300: #1946a94d;
$cornflower-blue-400: #1946a966;
$cornflower-blue-800: #1946a9cc;
$cream-can: #f6c656;
$crowshead: #29170b;
$crowshead-800: #29170bcc;
$dawn-pink: #f2ece6;
$dawn-pink-500: #f2ece680;
$dawn-pink-dark: #efe6dc;
$desert-sand: #ebccac;
$fiery-orange: #ab4e10;
$fiery-orange-100: #ab4e101a;
$fiery-orange-200: #ab4e1033;
$fiery-orange-800: #ab4e10cc;
$just-right: #ebceb4;
$korma: #854011;
$korma-200: #85401133;
$korma-300: #8540114d;
$korma-400: #85401166;
$lime: #50b91e;
$lime-100: #50b91e1a;
$lime-600: #50b91e99;
$manhattan: #f6b8a7;
$mantis: #80c75e;
$mantis-b600: #629948;
$merino: #f8f1ec;
$peach-yellow: #f8e0a8;
$peach-yellow-600: #f8e0a899;
$pearl-bush: #e9ddd5;
$schooner: #534e4b;
$schooner-600: #534e4b99;
$spring-wood: #f9f6f3;
$stark-white: #ecdccc;
$tiber: #062d2b;
$tiber-800: #062d2bcc;
$westar: #ddd7d2;
$white-linen: #faf4ee;
