$font-size: 16px;
$corner-radius-none: 0rem;
$corner-radius-40: 0.25rem;
$corner-radius-80: 0.5rem;
$corner-radius-100: 0.625rem;
$corner-radius-200: 1.25rem;
$corner-radius-circular: 6.1875rem;
$size-none: 0rem;
$size-20: 0.125rem;
$size-40: 0.25rem;
$size-100: 0.625rem;
$size-160: 1rem;
$size-200: 1.25rem;
$size-240: 1.5rem;
$size-300: 1.875rem;
$size-380: 2.375rem;
$size-400: 2.5rem;
$size-450: 2.8125rem;
$size-500: 3.125rem;
$size-600: 3.75rem;
$size-720: 4.5rem;
$size-900: 5.625rem;
$size-1000: 6.25rem;
$size-1600: 10rem;
$stroke-width-none: 0rem;
$stroke-width-5: 0.03125rem;
$stroke-width-10: 0.0625rem;
$stroke-width-20: 0.125rem;
$stroke-width-40: 0.25rem;
