$icon-hoodie: #bbe8a5;
$icon-hoodie-shadow: #80c75e;
$icon-stroke: #612a05;
$icon-book-cover: #612a05;
$icon-book-pages: #e6f9ff;
$icon-book-spine: #612a05;
$icon-book-spine-highlight: #ffbc11;
$icon-book-spine-stroke: #4f2204;
$icon-book-stroke: #612a05;
$icon-head-blush1: #fc5252;
$icon-head-blush2: #ffa6a6;
$icon-head-glasses: #ff8430;
$icon-head-glasses-stroke: #610505;
$icon-head-mouth: #610505;
$icon-head-skin: #ffbda7;
$icon-head-skin-shadow: #d76d4e;
$icon-head-eyes-closed-eyes: #610505;
$icon-head-eyes-highlight: #ffffff;
$icon-head-eyes-pupils: #552302;
$icon-head-eyes-sclera: #fee6fb;
$icon-head-eyes-sclera-shadow: #edc1b4;
$icon-head-eyes-sparkle: #ffe931;
$text-dark: #612a05;
$text-light: #f2ece6;
