@use "./global" as *;

$border-none: $stroke-width-none;
$border-x-small: $stroke-width-5;
$border-small: $stroke-width-10;
$border-medium: $stroke-width-20;
$border-large: $stroke-width-40;
$breakpoints-phone: 280px;
$breakpoints-tablet: 744px;
$breakpoints-desktop: 1440px;
$corner-radius-none: $corner-radius-none;
$corner-radius-xsmall: $corner-radius-40;
$corner-radius-small: $corner-radius-80;
$corner-radius-medium: $corner-radius-100;
$corner-radius-large: $corner-radius-200;
$corner-radius-circular: $corner-radius-circular;
$sizes-none: $size-none;
$sizes-sssnudge: $size-20;
$sizes-ssnudge: $size-40;
$sizes-snudge: $size-100;
$sizes-ss: $size-160;
$sizes-sm: $size-200;
$sizes-sl: $size-240;
$sizes-mnudge: $size-300;
$sizes-m: $size-380;
$sizes-ms: $size-400;
$sizes-mm: $size-450;
$sizes-ml: $size-500;
$sizes-lnudge: $size-600;
$sizes-l: $size-720;
$sizes-ls: $size-900;
$sizes-lm: $size-1000;
$sizes-ll: $size-1600;
