.overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(250, 235, 215, .5);
  z-index: 100;
  backdrop-filter: blur(10px);
}

.content {
  width: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  max-width: 25rem;
  width: 100%;
  background-color: $status-generic-3-surface;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.875rem;
  border-radius: 1.25rem;
  border: 1px solid $border-3;
}

.sm-btns-container {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.sm-btn {
  display: flex;
  align-items: center;
}

.sm-img {
  display: block;
  width: 3rem;
  height: 3rem;
}

.link {
  flex-basis: 100%;
  flex-shrink: 1;
}

.link-container {
  display: flex;
  gap: 0.625rem;
  max-width: 100%;
}

.link-wrapper {
  overflow: auto;
  padding: 0.25rem;
  border-radius: 0.625rem;
  background-color: $status-generic-3-surface-dark;
}
