.overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(250, 235, 215, .5);
  z-index: 100;
  backdrop-filter: blur(10px);
}

.content {
  width: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  max-width: 400px;
  width: 100%;
  background-color: $status-generic-3-surface;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid $border-3;
}

.sm-btns-container {
  display: flex;
  gap: 20px;
}

.sm-btn {
  display: flex;
  align-items: center;
}

.sm-img {
  display: block;
  width: 48px;
  height: 48px;
}

.link {
  flex-basis: 100%;
  padding: 4px;
  border-radius: 10px;
  background-color: $status-generic-3-surface-dark;
}

.link-container {
  display: flex;
  gap: 10px;
}