.header__title {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.header-illus {
  position: absolute;
  pointer-events: none;

  & > svg,
  & > img {
    position: absolute;
    transform-origin: center;
    transition: all .1s ease-in-out;
  }

  & > svg {
    z-index: 2;
  }

  & > img {
    z-index: 1;
  }
}

.book-illus {
  $width: 12.6875rem;
  width: $width;
  height: 14.0544rem;
  top: -3.0344rem;
  left: - calc($width + 5.5625rem);
  opacity: 0;
  animation: appear-up .7s ease-in-out .8s forwards;

  & > .illus {
    position: absolute;
    width: 100%;
    height: 95.6%;
    z-index: 2;
    top: 0%;
    left: 0%;
  }

  & > .img {
    position: absolute;
    width: 70.9%;
    height: 95.6%;
    z-index: 1;
    top: 4.44%;
    left: 22.66%;
  }
}

.certif-illus {
  $width: 12.7562rem;
  width: $width;
  height: 12.0625rem;
  top: -0.875rem;
  right: - calc($width + 3.3125rem);
  opacity: 0;
  animation: appear-up .7s ease-in-out 1s forwards;

  & > .illus {
    width: 94.3%;
    height: 97.4%;
    top: 0%;
    right: -2.44%;
  }

  & > .img {
    width: 92%;
    height: 97.4%;
    top: 2.59%;
    right: 7.83%;
  }
}

.apple-books-illus {
  $width: 11.3981rem;
  $height: 14.2775rem;
  width: $width;
  height: $height;
  bottom: - calc($height + 2.75rem);
  left: - calc($width + 3.6644rem);
  opacity: 0;
  animation: appear-up .7s ease-in-out 1.2s forwards;

  & > .illus {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
  }

  & > .img {
    width: 69.9%;
    height: 55.79%;
    top: 3.28%;
    left: 6.23%;
  }
}

.globe-illus {
  $width: 10.9375rem;
  $height: 12.5rem;
  width: $width;
  height: $height;
  bottom: - calc($height + 6.3125rem);
  right: - calc($width + 2.7731rem);
  opacity: 0;
  animation: appear-up .7s ease-in-out 1.6s forwards;

  & > .illus {
    width: 93.12%;
    height: 100%;
    top: 0%;
    left: 6.85%;
  }

  & > .img {
    width: 92.59%;
    height: 88.6%;
    top: 7.4%;
    left: 0%;
  }
}

@keyframes appear-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 3.125rem, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 1284px) {
  .book-illus {
    $width: 6.8125rem;
    width: $width;
    height: 7.5rem; 
    top: -2.0625rem;
    left: - calc($width + 0.625rem);
  }

  .certif-illus {
    $width: 7.3119rem;
    width: $width;
    height: 6.9138rem;
    top: -0.75rem;
    right: - calc($width + 0.625rem);
  }

  .apple-books-illus {
    $width: 6.3288rem;
    $height: 7.9269rem;
    width: $width;
    height: $height;
    bottom: -0.6906rem;
    left: - calc($width + 1.9212rem);
  }

  .globe-illus {
    $width: 6.3987rem;
    $height: 7.3125rem;
    width: $width;
    height: $height;
    bottom: 0.3887rem;
    right: - calc($width + 1.875rem);
  }
}

@media screen and (max-width: 880px) {
  .apple-books-illus {
    display: none;
  }

  .globe-illus {
    display: none;
  }

  .book-illus {
    display: none;
  }

  .certif-illus {
    display: none;
  }
}
