.tabs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tab__panel-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(16.25rem, 22.5rem));
  justify-content: center;
  align-items: center;
  row-gap: 3.75rem;
  column-gap: 3.125rem;
}

.link-wrapper {
  width: fit-content;
  margin: auto;
  margin-top: 2.5rem;
}