.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 6.25rem;
}

.container {
  width: 100%;
  max-width: 77.5rem;
  padding: 0 1.25rem;
  padding-top: 3.75rem;
  margin: auto;
}

@media screen and (max-width: 744px) {
  .container {
    padding: 0 0.625rem;
    padding-top: 2.5rem;
  }
}
