.breadcrumbs-container {
  align-items: center;
  width: fit-content;
  list-style: none;
  gap: 0.625rem;
  flex-wrap: wrap;
}

.separator {
  stroke: $status-generic-2-icon-light;
}

.trigger-btn {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 1.5rem;
  background-color: $status-generic-2-surface-dark;
  border-radius: $corner-radius-medium;
	transition: all 0.25s ease-in-out;

  & > svg {
    margin: auto;
  }

  &:hover {
    background-color: $status-generic-2-surface-darker;
  }

  &:focus {
    background-color: $status-generic-2-surface-darker;
    box-shadow: $default-focus-outline;
    outline: 1px transparent;
  }
}
