.tooltip {
  padding: $sizes-snudge $sizes-sm;
  border-radius: $corner-radius-medium;
  border: solid $border-small $component-tooltip-border;
  background-color: $component-tooltip-surface;
  backdrop-filter: $blur-effect;
  z-index: 100;

  &__text {
    color: $text-3-default;
  }
}
