.icon {
	stroke: $text-2-default;

	&--sm {
		width: 1rem;
		height: 1rem;
		stroke-width: 1.6;
	}

	&--md {
		width: 1.5rem;
		height: 1.5rem;
		stroke-width: 2;
	}

	&--lg {
		width: 1.875rem;
		height: 1.875rem;
		stroke-width: 2;
	}
}
