.trigger {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
  padding: 1.875rem 1.5rem;
  border-radius: $corner-radius-large;
  cursor: pointer;

  &[data-state=open] {
    & .trigger__icon--expand {
      display: none;
    }
  }

  &[data-state=closed] {
    & .trigger__icon--collapse {
      display: none;
    }
  }

  &:focus-visible {
		box-shadow: $default-focus-outline;
	}

  &__icon {
    animation: rotate ease-in-out .2s forwards;
  }
  
  &__text {
    font-weight: 600 !important;
    color: $status-generic-3-text !important;
  }
  
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}
